body{
    height: 100vh;
    background: #363636	;
    color: white;
}
.container{
    background-color: #343A40;
    width: 500px;
    height: 900px;
}
.radio{
    height: 20px;
    width: 20px;
}
.label{
    font-size: 18px;
}

