body{
    height: 100vh;
    background: #363636	;
    color: white;
}

.container{
    background-color: #343A40;
    align-items: center;
}
.lista{
    height:30px ;
    width:70px ;
}
.label-form{
    height: 35px;
}
.lista{
    height:30px ;
    width:70px ;
}



