body{
    height: 100vh;
   background: #363636	;
    color: white;
}

.container{
    background-color: #b9bbbe;
    display: flex;
}
.right{
    background-color: #343A40;
    color: black;
}
.left{
    color: black;
}
.texto{
    font-size: 26px;
    color: black;
}
.dese{
    font-size:14px ;
    color: black;
}


